html,body {
    /* modifica todo el html y body del documento */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
#main_wrapper{
        /* modifica todo el contenedor de html */
        min-height: 100%;
        position:relative;
}
    header{
            /* modifica la cabecera del documento */
        text-align: center;
        height: 50px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        word-spacing: 50px;
    }
        #menu{
            /* modifica el espacio de menu en el area de nav */
        height:50px;
        padding-top: 10px;
        }
        nav.menuhorizontal ul li {
            /* modifica el contenido en el área de nav, en el header */
            display:inline-block;
            font-size:large;
            background-color: rgb(255, 255, 255);
        }
        a{
            /* Cambiar el color en que se visualizan los hipervínculos antes de hacer clic en ellos */
            color:inherit;
            text-decoration: none;
        }
        
         a:hover{
                /* modifica  el color de la lista que se encuentra en nav al momento de pasar el cursor sobre ella*/
                background-color: #66e8ed;
            }
        h1{
            /* cambia todos los encabezados h1 en el doc. */
        font-size: 30px;
        }
        h2,h3,h4,h5{
            /* cambia todos los encabezados especificados */
        font-size: 20px;
        }
#contents{
    padding-bottom: 100px;
    }
#principal {
        display:flex;
        width: 100%;
        height: 600px;
        background-image: url(fondo.jpg);
        align-items: center;
        text-align:right;
        flex-direction: row-reverse;
}
#cabp{
    margin-right: 50px;
}
.contenedorinicial{
    width: 100%;
    margin-right: 25px;
    display:flexbox;
}
h1.inicial{
    text-align: right;
}
h2.inicial{
    text-align: right;
}
#botn{
    background-color: rgb(0, 187, 0);
    color:whitesmoke;
    width: fit-content;
    padding:10px;
    border-radius: 20px;    
}
#botn:hover{
    background-color: aquamarine;
    color:black;
}
        section{
            /* modifica de forma global todas las secciones especificadas */
            margin-top: 10px;
            margin-left: 100px;
            margin-bottom:10px;
            margin-right:150px;
        }
            .section1{
                /* modifica las características de las secciones que trabajen con la clase section1 */
            text-align: justify;
            font-size: 16px;
            }
            .section2{
                /* modifica las secciones que trabajen con  la clase section2 */
                text-align: right;
                font-size: 12px;
                }
#form1{
    width: 750px;
    background-color: azure;

}
form{
    padding: 50px;
    margin-top: 5px;
    font-size: 18px;
    margin-left: 5px;
}
form input{        
font-size: 18px;
margin-right: 5px;
margin-left:5px;
margin-top: 5px;
}

form textarea{
    width: 300px;
    height: 100px;
    resize: none;
}
form fieldset{
    margin-top: 20px;
}
footer{
    /* modifica los elementos que estén en el footer */
text-align: center;
background-color: dimgray;
bottom: 0px;
width: 100%;
height: 50px;
position:absolute;
}